<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container">
    <div class="row" style="margin-top: 20px" *ngIf="vistaPantalla">
        <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">border_color</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Modificar Usuario</h4>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <mat-select placeholder="Roles" [formControl]="validator.rolId"
                  [(ngModel)]="usuario.rolId">
                    <mat-option [value]="0"> Seleccionar Rol ...</mat-option>
                    <mat-option *ngFor="let rol of roles" [value]="rol.id">
                      {{ rol.nombre }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="validator.rolId.invalid">{{getErrorMessage().rolId}} </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Número de Cédula" required
                    [(ngModel)]="usuario.nroCedula" [formControl]="validator.nroCedula">
                    <mat-error *ngIf="validator.nroCedula.invalid">{{getErrorMessage().nroCedula}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Nombres" required 
                    [(ngModel)]="usuario.nombres" [formControl]="validator.nombres">
                    <mat-error *ngIf="validator.nombres.invalid">{{getErrorMessage().nombres}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Apellido Paterno" required
                    [(ngModel)]="usuario.apellidoPaterno" [formControl]="validator.apellidoPaterno">
                    <mat-error *ngIf="validator.apellidoPaterno.invalid">{{getErrorMessage().apellidoPaterno}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Apellido Materno" required
                    [(ngModel)]="usuario.apellidoMaterno" [formControl]="validator.apellidoMaterno">
                    <mat-error *ngIf="validator.apellidoMaterno.invalid">{{getErrorMessage().apellidoMaterno}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Correo Electrónico" required
                    [(ngModel)]="usuario.correo" [formControl]="validator.correo">
                    <mat-error *ngIf="validator.correo.invalid">{{getErrorMessage().correo}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Celular" required
                    [(ngModel)]="usuario.celular" [formControl]="validator.celular">
                    <mat-error *ngIf="validator.celular.invalid">{{getErrorMessage().celular}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Usuario" required disabled="false"
                    [(ngModel)]="usuario.usuario" [formControl]="validator.usuario">
                    <mat-error *ngIf="validator.usuario.invalid">{{getErrorMessage().usuario}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="password" placeholder="Contraseña"
                    [(ngModel)]="usuario.clave" [formControl]="validator.clave">
                    <mat-error *ngIf="validator.clave.invalid">{{getErrorMessage().clave}} </mat-error>
                  </mat-input-container>
                </div>
              </div>

              <div class="row action-btn col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button mat-raised-button class="btn btn-info" type="submit">
                      <i class="material-icons">check</i> Modificar
                    </button>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button mat-raised-button class="btn btn-default" (click)="regresar()">
                        <i class="material-icons">keyboard_arrow_left</i> Regresar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</div>
  