<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container">
    <div class="row" style="margin-top: 20px" *ngIf="vistaPantalla">
        <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">border_color</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Listar Usuario</h4>
            
            <br>
            <div class="row">
              <div class="right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-info" (click)="registrarUsuario()">Registrar 
                  <i class="material-icons">navigate_next</i>
                </button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="15%" class="font-weight">Id</th>
                    <th width="30%" class="font-weight">Nombres</th>
                    <th width="20%" class="font-weight">Rol</th>
                    <th width="15%" class="font-weight">Estado</th>
                    <th width="20%" class="text-center font-weight">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombres}} {{usuario.apellidoPaterno}} {{usuario.apellidoMPaterno}}</td>
                    <td>{{usuario.nombreRol}}</td>
                    <td>{{usuario.nombreEstado}}</td>
                    <td class="td-actions text-center">
                      <button mat-mini-fab (click)="detalleUsuario(usuario.id)" class="btn-warning btn-xs"
                      matTooltip="Editar" [matTooltipPosition]="position">
                        <i class="material-icons material-icons-xs">edit</i>
                      </button>
                      <button mat-mini-fab (click)="eliminarUsuario(usuario.id)" class="btn-danger btn-xs"
                      [matTooltipPosition]="position" matTooltip="De baja" *ngIf="usuario.estado == 1">
                        <i class="material-icons material-icons-xs">close</i>
                      </button>
                      <button mat-mini-fab (click)="aprobarUsuario(usuario.id)" class="btn-success btn-xs"
                      [matTooltipPosition]="position" matTooltip="Aprobar" *ngIf="usuario.estado == 0">
                        <i class="material-icons material-icons-xs">check</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator 
                [length]="length"
                [pageSize]="limit"
                [pageSizeOptions]="pageSizeOptions"
                (page)="setPageSizeOptions($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  