<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container">
    <div class="row" style="margin-top: 20px" *ngIf="vistaPantalla">
        <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">border_color</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Pagos Manuales</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="20%" class="font-weight">Usuario</th>  
                    <th width="10%" class="font-weight">Máquina</th>                    
                    <th width="10%" class="font-weight">Denominación</th>
                    <th width="10%" class="font-weight">Crédito</th>
                    <th width="10%" class="font-weight">Total</th>
                    <th width="20%" class="font-weight">Fecha</th>
                    <th width="10%" class="font-weight">Estado</th>
                    <th width="10%" class="text-center font-weight">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pago of pagos">
                    <td>{{pago.nombresUsuario}} {{pago.apellidoMaternoUsuario}} {{pago.apellidoPaternoUsuario}}</td>
                    <td>{{pago.nombreMaquina}}</td>
                    <td>{{pago.denominacion}}</td>
                    <td>$ {{pago.credito}}</td>
                    <td>$ {{pago.total}}</td>
                    <td>{{pago.createdAt}}</td>
                    <td>{{pago.nombreEstado}}</td>
                    <td class="td-actions text-center">
                      <button mat-mini-fab (click)="aprobarPagos(pago.id)" class="btn-danger btn-xs"
                      [matTooltipPosition]="position" matTooltip="Aprobar Pago" *ngIf="pago.estado == 0">
                        <i class="material-icons material-icons-xs">done</i>
                      </button>
                      <span *ngIf="pago.estado != 0">-</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator 
                [length]="length"
                [pageSize]="limit"
                [pageSizeOptions]="pageSizeOptions"
                (page)="setPageSizeOptions($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  