<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container">
    <div class="row" style="margin-top: 20px" *ngIf="vistaPantalla">
        <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">border_color</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Pagos Manuales</h4>
            
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <mat-select placeholder="Máquinas" [(ngModel)]="maquinaId">
                    <mat-option [value]="0"> Todas las Máquinas ...</mat-option>
                    <mat-option *ngFor="let maquina of maquinas" [value]="maquina.id">
                    N° {{ maquina.numero }} - {{ maquina.nombre }}
                    </mat-option>
                  </mat-select>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="Fecha Inicial" [(ngModel)]="fechaInicial">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Fecha Final" [(ngModel)]="fechaFinal">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="left col-xs-4 col-sm-1 col-md-1 col-lg-1">
                  <button mat-mini-fab class="search-btn" color="primary" (click)="listarPagos()"
                  [matTooltipPosition]="position" matTooltip="Buscar">
                    <i class="material-icons" style="font-size:18px;">search</i>
                  </button>
              </div>
              <div class="left col-xs-4 col-sm-1 col-md-1 col-lg-1">
                  <button mat-mini-fab class="search-btn" color="primary" (click)="exportarExcel()"
                  [matTooltipPosition]="position" matTooltip="Exportar Excel">
                    <i class="material-icons" style="font-size:18px;">file_download</i>
                  </button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="10%" class="font-weight">Número</th>
                    <th width="20%" class="font-weight">Máquina</th>
                    <th width="15%" class="font-weight">Denominación</th>
                    <th width="10%" class="font-weight">Crédito</th>
                    <th width="10%" class="font-weight">Total</th>
                    <th width="15%" class="font-weight">Fecha</th>
                    <th width="20%" class="font-weight">Usuario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pago of pagos">
                    <td>N° {{pago.numeroMaquina}}</td>
                    <td>{{pago.nombreMaquina}}</td>
                    <td>$ {{pago.denominacion}}</td>
                    <td>{{pago.credito}}</td>
                    <td>$ {{pago.total}}</td>
                    <td>{{pago.createdAt}}</td>
                    <td>{{pago.nombresUsuario}} {{pago.apellidoPaternoUsuario}} {{pago.apellidoMaternoUsuario}}</td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator 
                [length]="length"
                [pageSize]="limit"
                [pageSizeOptions]="pageSizeOptions"
                (page)="setPageSizeOptions($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  