@import url("../../admin.scss");

.container{
    padding-top: 20px;
}

b{
    font-weight: bold;
}

.monto{
    font-size: 20px;
    font-weight: 500;
}

mat-select {
    border-bottom: 1px solid #949494;
    margin-bottom: 10px !important;
}

.btn-pdf{
    background: #d32222 !important;
}

.btn-excel{
    background: #33a437 !important;
}