<header>
  <div class="left">
    <h5>Healthinn</h5>
  </div>
  <div class="right">
    <!--<a routerLink="/dashboard" routerLinkActive="router-active"><i class="material-icons">dashboard</i><p>DASHBOARD</p></a>-->
    <a routerLink="/iniciar-sesion" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><i class="material-icons">fingerprint</i><p>SESION</p></a>
    <a routerLink="/registrar" routerLinkActive="router-active"><i class="material-icons">person_add</i><p>REGISTRAR</p></a>
    <!--<a routerLink="/lock" style="margin-right: 0" routerLinkActive="router-active"><i class="material-icons">lock_open</i><p>LOCK</p></a>-->
  </div>
</header>
