@import url("../../../../admin.scss");

.container{
    padding-top: 40px;
}

.row-container{
    margin: 0 !important;
}

.card-container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-title{
    text-align: center;
    font-weight: 400;
    padding: 30px 0 0 0 !important;
    font-size: 1.5rem;
}

.mat-spinner.mat-progress-spinner{
    width: 400px !important;
    height: 500px !important;
    position: fixed;
    z-index: 9999;
}

.right{
    float: right;
}

.monto{
    font-size: 20px;
    font-weight: 500;
}