<mat-spinner *ngIf="loading"></mat-spinner>
<div class="card-content card-content-modal">
  <div *ngIf="vistaPantalla"> 
    <h4 class="card-title">Registrar Prestamo</h4>
    <div class="row row-container">
      <div class="col-md-10 col-md-offset-1">
        <mat-list>
          <mat-list-item>
            <table class="table table-list">
                <thead class="table-head-list">
                  <tr>
                    <th width="50%" class="font-weight">Monto</th>
                    <th width="50%" class="font-weight">Cantidad</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let billete of billetes; let i = index">
                    <td>$ {{billete.monto}}</td>
                    <td>
                      <mat-input-container color="blue">
                        <input matInput type="number" placeholder="Cantidad" required
                        [(ngModel)]="prestamoDetalle[i].cantidad" min="0"
                        (change)="valorCantidad(i, prestamoDetalle[i].cantidad)">
                      </mat-input-container>
                    </td>
                  </tr>
                </tbody>
              </table>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <mat-input-container color="blue">
          <textarea  matInput placeholder="Descripción" [(ngModel)]="prestamo.descripcion" required
          #postalCode maxlength="100"  matAutosizeMinRows="2" matAutosizeMaxRows="3"></textarea>
          <mat-hint align="end">{{postalCode.value.length}} / 100</mat-hint>
        </mat-input-container>
      </div>
      <div class="row action-btn col-md-10 col-md-offset-1" style="margin-top: 20px;">
        <div class="col-md-12" style="margin-bottom: 20px;">
          <label class="monto">Monto: $ {{montoBillete}}</label>
        </div>
      </div>
    </div>

    <div class="row action-btn col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button mat-button class="btn btn-info" (click)="onSubmit()">
            <i class="material-icons">check</i> Agregar
          </button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button mat-button [mat-dialog-close]="false" class="btn btn-default">
              <i class="material-icons">keyboard_arrow_left</i> Regresar
          </button>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>