<!--
<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <h2>Regístrate</h2>
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="row">
                <mat-input-container color="accent">
                  <input matInput type="text" placeholder="DNI" #dni [(ngModel)]="paciente.dni" maxlength="8">
                  <mat-hint align="end">{{dni.value.length}} / 8</mat-hint>
                </mat-input-container>
              </div>
              <div class="row">
                <mat-input-container color="accent">
                  <input type="text" matInput placeholder="Nombres" [(ngModel)]="paciente.nombres">
                </mat-input-container>
              </div>
              <div class="row">
                <mat-input-container color="accent">
                  <input type="text" matInput placeholder="Apellido Paterno" [(ngModel)]="paciente.apellido_paterno">
                </mat-input-container>
              </div>
              <div class="row">
                <mat-input-container color="accent">
                  <input type="text" matInput placeholder="Apellido Materno" [(ngModel)]="paciente.apellido_paterno">
                </mat-input-container>
              </div>
              <div class="row">
                <mat-radio-group [(ngModel)]="paciente.sexo" color="primary">
                  <mat-radio-button value="0">Masculino</mat-radio-button>
                  <mat-radio-button value="1">Femenino</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <mat-input-container color="accent">
                  <input type="text" matInput placeholder="Celular" [(ngModel)]="paciente.celular">
                </mat-input-container>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-part">
                <div class="row">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" 
                    placeholder="Fecha de Nacimiento" [(ngModel)]="paciente.fecha_nacimiento" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-input-container color="accent">
                    <input matInput type="text" placeholder="Usuario" [(ngModel)]="paciente.usuario">
                  </mat-input-container>
                </div>
                <div class="row">
                  <mat-input-container color="accent">
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" [(ngModel)]="paciente.clave">
                    <i matSuffix (click)="hide = !hide" class="material-icons">{{hide ? 'visibility' : 'visibility_off'}}</i>
                  </mat-input-container>
                </div>
                <div class="row">
                  <mat-checkbox style="margin-left: 2px" color="primary"><p style="margin-left: 8px">                    
                    Estoy de acuerdo con <span class="terminos">los términos y condiciones</span>.</p>
                  </mat-checkbox>
                </div>
                <div class="row" style="display: flex; justify-content: center">
                  <button mat-raised-button class="btn btn-info btn-round" (click)="onSubmit()">REGISTRAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
