<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white navbar-absolute navbar-transparent">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand pointer">
            SLUGGERS ENTERTAINMENT
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" 
          aria-label="Toggle navigation">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" data-color="orange">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link pointer" routerLink="/iniciar-sesion">
                      <i class="now-ui-icons users_circle-08"></i>
                      <p>Sesión</p>
                  </a>
              </li>
              <!--<li class="nav-item">
                  <a class="nav-link pointer" routerLink="/registrar">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                      <p>Registrar</p>
                  </a>
              </li>-->
          </ul>
      </div>
  </div>
</nav>
<!-- End Navbar -->