@media (min-width: 768px){
  .container {
      width: 750px;
  }
}

@media (min-width: 992px){
  .container {
      width: 970px;
  }
}

@media (min-width: 1200px){
  .container {
      width: 1170px;
  }
}

@media (max-width: 767px){
  .navbar-nav {
    margin: 1px 0;
    margin-top: 15px;
  }

  .collapse .navbar-collapse{
    display: none !important;
  }
  
  .navbar.navbar-transparent{
      background-color: rgba(0,0,0,.45);
  }
  
  .navbar-header .navbar-toggle{
    padding: 15px;
    margin-top: 4px;
    width: 40px;
    height: 40px;
    display: block!important;
    float: right;
  }

  .navbar-header{
    float: none;
  }

  .navbar-toggle .icon-bar:nth-child(2) {
    top: 0;
    -webkit-animation: topbar-back .5s linear 0s;
    animation: topbar-back .5s 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .navbar-toggle .icon-bar {
    display: block;
    position: relative;
    color: #fff;
    width: 24px;
    height: 2px;
    border-radius: 1px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.navbar .navbar-toggle .icon-bar {
  background-color: inherit;
  border: 1px solid;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-brand{
  color: #fff;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
  *color: inherit;
  *background-color: hsla(0,0%,100%,.1);
}

a:hover, a{
  color: #fff;
  font-weight: 500;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pointer{
  cursor: pointer;
}
