<div class="nav-bar">
  <!--<div class="left-part">
    <button mat-mini-fab id="nav-left-button"><i class="material-icons" style="font-size:18px;">more_vert</i></button>
    <h4>{{ title }}</h4>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <mat-input-container color="#ff0000">
        <input matInput type="search" placeholder="Search">
      </mat-input-container>
      <button mat-mini-fab class="search-btn"><i class="material-icons" style="font-size:18px;">search</i></button>
      <button mat-icon-button><i class="material-icons icon-btn">dashboard</i></button>
      
      <button mat-icon-button><i class="material-icons icon-btn">person</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Mike John responded to your email</button>
        <button mat-menu-item>You have 5 new tasks</button>
        <button mat-menu-item>You're now friend with Andrew</button>
        <button mat-menu-item>Another Notification</button>
        <button mat-menu-item>Another One</button>
      </mat-menu>
    </div>
    <div id="menu">
      <button mat-icon-button (click)="menuClick()"><i class="material-icons">menu</i></button>
    </div>
  </div>-->
</div>
