@media (min-width: 1200px){
  .container {
      max-width: 1260px;
  }
}

.btn.btn-info{
  background: rgb(255, 61, 61) !important;
}

.card{
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  margin-top: 40px;
}

.card-raised{
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.page-title{
  margin-top: 40px;
}

.card-header {
  position: absolute;
  text-align: center;
  *background: linear-gradient(60deg, #ec407a, #d81b60);
  background: rgb(255, 61, 61);
  *box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(38, 131, 198, 0.4);
  /*margin: -20px 15px 0;*/
  border-radius: 3px;
  padding: 15px;
  top: -23px;
}

.card-header i {
  font-size: 24px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  color: #fff;
}

.card-content{
  position: relative;
}

.card-title{
  padding-left: 80px;
}

.card-header, .btn-info,
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background: rgb(255, 61, 61) !important;
}


.btn-primary{
  background-color: #9c27b0 !important;
  color: #FFF !important;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12) !important;
}

.btn-primary:hover{
  box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2) !important;
}

.btn-rose{
  background-color: #e91e63 !important;
  color: #FFF !important;
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12) !important;
}

.btn-rose:hover{
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2) !important;
}

.btn-success{
  background-color: #4caf50 !important;
  color: #FFF !important;
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12) !important;
}

.btn-success:hover{
  box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2) !important;
}

.btn-warning{
  background-color: #ff9800 !important;
  color: #FFF !important;
  box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12) !important;
}

.btn-warning:hover{
  box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2) !important;
}

.btn-danger{
  background-color: #f44336 !important;
  color: #FFF !important;
  box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12) !important;
}

.btn-danger:hover{
  box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2) !important;
}

.btn-info{
  background-color: #00bcd4 !important;
  color: #FFF !important;
  box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12) !important;
}

.btn-info:hover{
  box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2) !important;
}

/* checkbox */
.mat-checkbox-checkmark-path { /* stick */
  stroke: #9c27b0 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: transparent;
}

.mat-checkbox-frame {
  border-width: 1px !important;
}

.mat-checkbox-anim-unchecked-checked .mat-checkbox-checkmark-path {
  animation: 300ms linear 0s mat-checkbox-unchecked-checked-checkmark-path !important;
}

.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: -1px;
  position: relative;
}

.btn-default{
  background-color: #999;
  color: #FFF !important;
}

.btn-default:hover, .btn-default:focus{
  background-color: #999;
}

.btn.btn-round, .navbar .navbar-nav>li>a.btn.btn-round {
  border-radius: 30px;
}

.btn-button{
  border: none !important;
  border-radius: 3px !important;
  position: relative;
  padding: 10px !important; 
  margin: 10px 1px;
  font-size: 0px !important;
  font-weight: 300 !important;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow,transform;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1)
}

.material-icons{
  font-size: 16px;
}

h1, .h1 {
  font-size: 3.8em;
}

h2, .h2 {
  font-size: 2.6em;
}

h3, .h3 {
  font-size: 1.825em;
}

h4, .h4 {
  font-size: 1.3em;
}

h5, .h5 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h6, .h6 {
  font-size: 1em;
  text-transform: uppercase;
}

/* btn style */
.btn{
  font-size: 12px !important;
  padding: 12px 30px !important;
  line-height: inherit !important;
  outline: none !important;
  font-weight: 300 !important;
  border-radius: 3px !important;
  margin: 0 1px;
  border: none !important;
}

.btn .mat-ripple{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn-round{
  border-radius: 30px !important;
}

.btn-round .mat-ripple{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* text color */
.text-primary, .alert-primary .alert-icon{
  color: #9c27b0;
}

.text-danger, .alert-danger .alert-icon{
  color: #f44336;
}

.text-info, .alert-info .alert-icon{
  color: #00bcd4;
}

.text-warning, .alert-warning .alert-icon{
  color: #ff9800;
}

.text-rose, .alert-rose .alert-icon{
  color: #e91e63;
}

.text-success, .alert-success .alert-icon{
  color: #4caf50;
}

p {
  margin: 0;
  color: #999;
}

a {
  color: #9c27b0;
  text-decoration: none;
}

a:hover{
  color: #89229b;
  text-decoration: none;
}

b{
  font-weight: 300;
}

@media (min-width: 430px) {
  .card-content-modal{
    width: 400px !important; 
  }
}

.mat-card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  border: rgb(255, 61, 61);
  border-width: 1px;
  border-style: solid;
}

.mat-card-title{
  color: rgb(255, 61, 61) !important;
  font-size: 18px !important;
}

.mat-card-header{
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6, p, a, button, div, label, small {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  /*line-height: 1.5em;*/
  margin: 0;
}

@media (min-width: 992px){
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
}  

.card .card-header.card-header-icon+.card-content .card-title {
  padding-bottom: 15px;
}

.card .card-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.mat-spinner.mat-progress-spinner{
  width: calc(100% - 350px) !important;
  height: 100% !important;
  position: fixed;
  z-index: 9999;
}

.center{
  text-align: center;
}