<div class="wrapper">
    <!--<div class="sidebar-panel" id="sidebar" [style.background-color]="backgroundColor">-->
    <div class="sidebar-panel backgroundColor sidebar sidebar-responsive-off" id="sidebar">
      <!--<div class="sidebar-background" [style.background-image]="'url(../assets/admin/img/sidebar-' + id + '.jpg)'"></div>-->
      <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel" id="main-panel">
      <div class="nav-bar">
        <div class="left-part">
          <button mat-mini-fab id="nav-left-button" (click)="menuClick()">
            <i class="material-icons visible-on-sidebar-regular" *ngIf="!bandera">more_vert</i>
            <i class="material-icons visible-on-sidebar-mini" *ngIf="bandera">view_list</i>
          </button>
          <!--<h4>{{ title }}</h4>-->
        </div>
        <div class="right-part">
          <div class="right-part" id="nav-right">
            <!--<mat-input-container color="#ff0000">
              <input matInput type="search" placeholder="Search">
            </mat-input-container>
            <button mat-mini-fab class="search-btn"><i class="material-icons" style="font-size:18px;">search</i></button>
            <button mat-icon-button><i class="material-icons icon-btn">dashboard</i></button>
            
            <button mat-icon-button><i class="material-icons icon-btn">person</i></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Mike John responded to your email</button>
              <button mat-menu-item>You have 5 new tasks</button>
              <button mat-menu-item>You're now friend with Andrew</button>
              <button mat-menu-item>Another Notification</button>
              <button mat-menu-item>Another One</button>
            </mat-menu>-->

            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="cerrarSesion()"> Salir </button>
              </mat-menu>                
              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <i class="material-icons icon-btn">person</i>
              </button>
          </div>
          <div id="menu">
            <button mat-icon-button (click)="menuClickResponsive()">
              <i class="material-icons" *ngIf="!bandera_responsive">menu</i>
              <i class="material-icons" *ngIf="bandera_responsive">clear</i>
            </button>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
</div>
  