<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container">
    <div class="row" style="margin-top: 20px" *ngIf="vistaPantalla">
        <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">border_color</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Turno Cerrado</h4>
            
            <br>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="Fecha Inicial" [(ngModel)]="fechaInicial">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Fecha Final" [(ngModel)]="fechaFinal">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="left col-xs-4 col-sm-1 col-md-1 col-lg-1">
                  <button mat-mini-fab class="search-btn" color="primary" (click)="listarPagos()"
                  [matTooltipPosition]="position" matTooltip="Buscar">
                    <i class="material-icons" style="font-size:18px;">search</i>
                  </button>
              </div>              
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="35%" class="font-weight">Usuario</th>
                    <th width="20%" class="font-weight">Fecha - Hora</th>
                    <th width="20%" class="font-weight">Turno</th>
                    <th width="15%" class="font-weight">Crédito</th>
                    <th width="10%" class="font-weight text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pago of pagos">
                    <td>{{pago.nombres}} {{pago.apellidoMaterno}} {{pago.apellidoPaterno}}</td>
                    <td>{{pago.createdAt}}</td>
                    <td>{{pago.nombreTurno}}</td>
                    <td>$ {{pago.montoPettyInicial}}</td>
                    <td class="text-center">
                      <button mat-mini-fab class="search-btn" color="primary" 
                      (click)="exportarExcel(pago.id)"
                      [matTooltipPosition]="position" matTooltip="Exportar Excel">
                        <i class="material-icons" style="font-size:18px;">file_download</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator 
                [length]="length"
                [pageSize]="limit"
                [pageSizeOptions]="pageSizeOptions"
                (page)="setPageSizeOptions($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  