<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand pointer">
                HEALTHINN
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse"  data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pointer" data-toggle="dropdown">
                        <i class="now-ui-icons users_single-02" aria-hidden="true"></i>
                        <p>{{nombre_usuario}}</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item pointer" (click)="reservarCita()">
                            <i class="now-ui-icons health_ambulance"></i>Reserva tu Cita
                        </a>
                        <a class="dropdown-item pointer" (click)="miCita()">
                            <i class="now-ui-icons education_agenda-bookmark"></i>Mi Cita
                        </a>
                        <a class="dropdown-item pointer" (click)="cerrarSesion()">
                            <i class="now-ui-icons sport_user-run"></i>Salir
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->