/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.subtitle{
  margin-top: 15px;
  color: #3C4858;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

.swal2-modal{
  outline: none;
}

/* loading style*/
.loader {
  margin: 0 auto;
  width: 60px;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  text-align: center;
  top: 50%;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 2s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #9c27b0;
  }
  50% {
    stroke: #ff9800;
  }
  100% {
    stroke: #9c27b0;
  }
}

@media screen and (min-width: 991px){
  #menu{
    display: none;
  }
}

@media screen and (max-width: 990px){
   #nav-right, #nav-left-button{
    display: none;
  }
  #menu{
    display: inline;
  }
  #main-panel{
    padding-left: 0;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
}

/* input text style */
.mat-focused .mat-input-placeholder{
  color: #aaa !important;
}

/* drop down menu */
.mat-menu-panel{
  border-radius: 3px;
}

.mat-menu-content{
  padding: 5px !important;
}

.mat-menu-content .mat-menu-item{
  font-size: 13px;
  border-radius: 2px;
  line-height: 38px;
  height: 38px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.mat-menu-content .mat-menu-item:hover{
  background-color: #9c27b0 !important;
  color: #FFFFFF !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4) !important;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

/* circle button style */
.mat-mini-fab{
  font-size: 20px !important;
  outline: none !important;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12) !important;
}

.mat-mini-fab:hover{
  color: #fff !important;
  box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
}

.mat-mini-fab:focus{
  color: #fff !important;
}

/* table */
.table-responsive{
  border: none;
  margin: 0;
}

.table{
  width: 100%;
  max-width: 100%;
  margin: 20px 0 0 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > thead > tr > td, .table > tbody > tr > td{
  padding: 12px 8px;
  vertical-align: middle;
}

.table > thead > tr > th {
  font-size: 1.25em;
  font-weight: 300;
  border-bottom-width: 1px;
}

/** alert **/
.alert{
  border: none;
  position: relative;
  padding: 20px 15px;
  color: #ffffff;
  border-radius: 3px;
}

.alert span{
  font-weight: 100;
  width: 93%;
  display: block;
}

.alert .close{
  text-shadow: none;
  opacity: 1;
  color: #fff;
  position: relative;
  top: -6px;
  outline: none;
}

.alert .close i{
  font-size: 11px;
}

.alert-primary{
  background-color: #af2cc5;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.alert-info{
  background-color: #00bcd4;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.alert-rose{
  background-color: #eb3573;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.alert-success{
  background-color: #5cb860;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.alert-warning{
  background-color: #ffa21a;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.alert-danger{
  background-color: #f55a4e;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.alert-with-icon{
  margin-top: 43px;
}

.alert-with-icon span{
  padding-left: 55px;
}

.alert-with-icon .alert-icon{
  position: absolute;
  top: -17px;
  left: 17px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 9px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/*----------- NUEVOS ESTIOS ------------*/
.right-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
  /*margin-top: 60px;*/
}

.profile{
  position: absolute;
  top: -40px;
}

.profile img{
  border-radius: 50%;
  width: 130px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.right-profile h6{
  margin-top: 100px;
  margin-bottom: 8px;
  color: #999;
}

.right-profile h4{
  margin-bottom: 5px;
}

.right-profile p{
  color: #999;
}

.right-profile button {
  margin-top: 15px;
}

.mat-input-container{
  width: 100%;
}

.category{
  font-weight: 300;
}

form{
  margin-top: 30px;
}

.row{
  *margin-top: 15px;
  margin-top: 10px;
}

.mat-input-container textarea{
  height: 90px;
}

.textarea-label{
  color: #aaa;
  margin-bottom: 10px;
}

.action-btn{
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.right{
  text-align: right;
}

.table .td-actions .btn {
  margin: 0;
  padding: 5px;
}

.font-weight{
  font-weight: 400;
}

.td-actions.text-center{
  padding: 7px;
}

.mat-spinner.mat-progress-spinner{
  width: calc(100% - 100px) !important;
  position: absolute;
  height: 150px !important;
}

.mat-progress-spinner svg{
  width: 50px !important;
  height: 50px !important;
}

.alert-icon{
  display: block;
  left: 15px;
  position: absolute;
  margin-top: -39px;
  font-size: 20px;
  background-color: #fff;
  padding: 9px;
  border-radius: 50%;
  max-width: 38px;
  box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.span-icon{
  padding-left: 50px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background: rgb(255, 61, 61);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: rgb(255, 61, 61);
}

.mat-input-container {
  *width: 90% !important;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background: rgb(255, 61, 61) !important;
}

.mat-dialog-container{
  *background: none !important;
  *box-shadow: none !important;
  padding: 0px !important;
}

.btn-xs{
  width: 30px !important;
  height: 30px !important;
}

.mat-mini-fab .mat-button-wrapper{
  padding: 0 !important;
}

.btn-list{
  width: 25px !important;
  height: 25px !important;
}

.float-right{
  float: right;
  margin-top: 0px !important;
  margin-right: 6px !important;
}

.padding-0{
  padding: 0 !important;
}

@media (min-width: 1200px) {
  .button-list{
    margin-top: -6px !important; 
  }
}

.mat-list .mat-list-item .mat-list-item-content{
  display: inherit !important;
}

.mat-list-item-content{
  cursor: pointer;
}

.center-btn{
  justify-content: center !important;
}

.mat-list-item-content{
  height: auto !important;
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

.table-head-list{
  font-size: 13px !important;
  font-weight: bold !important;
}

.table-list{
  margin: 0 !important;
}

.terminos{
  color: rgb(255, 61, 61); 
  cursor: pointer; 
  font-weight: 400;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
  background-color: transparent !important;
}
.mat-checkbox-checkmark-path, .mat-progress-spinner circle, .mat-spinner circle{
  stroke: rgb(255, 61, 61) !important;
}

.backgroundColor{
  background: rgb(255, 61, 61) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: rgb(255, 61, 61) !important;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link{
  border-color: rgb(255, 61, 61) !important;
}

.card-footer button{
  color: rgb(255, 61, 61) !important;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mat-menu-content .mat-menu-item:hover{
  background: rgb(255, 61, 61) !important;
}

/* Responsive Menu Izquierda*/
@media (max-width: 991px){
  .sidebar-responsive-off{
    width: 0px !important;
  }

  .sidebar-responsive-on{
    width: 260px !important;
  }
}

@media (min-width: 992px){
  .sidebar-mini .sidebar, .sidebar-mini .sidebar .sidebar-wrapper {
    width: 80px !important;
  }

  .sidebar-mini .main-panel {
    width: calc(100% - 80px) !important;
    margin-left: 80px !important;
    padding-left: 0 !important;
  }

  .sidebar-mini .sidebar .sidebar-wrapper .nav li>a p,
  .sidebar-mini .sidebar .sidebar-wrapper .nav li>a span,
  .sidebar-mini .sidebar .sidebar-wrapper .nav li>div span {
    opacity: 0 !important;
    -webkit-transform: translate3d(-25px,0,0) !important;
    transform: translate3d(-25px,0,0) !important;
  }

  .sidebar-mini .sidebar .logo .logo-normal a {
    opacity: 0 !important;
    text-align: center !important;
    position: relative !important;
    padding-left: 40px !important;
  }

  .sidebar-mini .sidebar:hover {
    width: 260px !important;
  }

  .sidebar-mini .sidebar:hover .logo .logo-normal a {
    opacity: 1 !important;
    padding-left: 0 !important;
  }
  
  .sidebar-mini .sidebar:hover .sidebar-wrapper {
    width: 260px!important;
  }

  .sidebar-mini .sidebar:hover .sidebar-wrapper .nav li>a p,
  .sidebar-mini .sidebar:hover .sidebar-wrapper .nav li>a span,
  .sidebar-mini .sidebar:hover .sidebar-wrapper .nav li>div span {
    opacity: 1 !important;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
  }
}

/* Responsive Menu Derecha */
@media (max-width: 991px){
  .navbar-header .navbar-toggle {
      padding: 15px;
      margin-top: 4px;
      width: 40px;
      height: 40px;
      display: block!important;
      float: right;
  }

  .nav-open .off-canvas-sidebar, .nav-open .sidebar {
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
  }

  .nav-open .sidebar {
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  } 

  .off-canvas-menu .navbar-collapse, .sidebar {
    position: fixed !important;
    top: 0  !important;
    height: 100% !important;
    max-height: none;
    right: 0  !important;
    left: auto  !important;
    z-index: 1032  !important;
    visibility: visible  !important;
    overflow-y: visible  !important;
    border-top: none  !important;
    text-align: left  !important;
    padding-right: 0  !important;
    padding-left: 0  !important;
    transition: all .33s cubic-bezier(.685,.0473,.346,1);
  }

  .nav-open .sidebar-pages .main-panel, .nav-open .sidebar-pages .navbar .container, .nav-open .wrapper .main-panel {
    left: 0;
    -webkit-transform: translate3d(-260px,0,0);
    transform: translate3d(-260px,0,0);
  }

  .nav-open .wrapper {
    left: 150px;
  }
}

.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0;
  display: block;
  font-size: 18px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.visible-on-sidebar-regular, .visible-on-sidebar-mini {
  vertical-align: middle !important;
  font-size: 17px  !important;
  top: -1px !important;
  position: relative !important;
}

.main-panel, .sidebar, .sidebar-wrapper {
  transition-property: top,bottom,width;
  transition-duration: .2s,.2s,.35s;
  transition-timing-function: linear,linear,ease;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  width: 260px;
  background: #fff;
  box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.mat-checkbox-layout{
  white-space: inherit !important;
}

.material-icons-xs{
  font-size: 18px;
}

.mat-list-hover .mat-list-item:hover, .mat-list-hover tr:hover{
  background: rgba(38, 131, 198,8);
  color: #fff;
}

.nav>li {
  position: relative;
  display: block;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li{
  width: 260px;
}

.card-login {
  border-radius: 0.25rem;
  padding-bottom: 0.7rem;
  max-width: 320px;
}

.card-signup {
  max-width: 100% ;
  margin-bottom: 90px;
  padding: 15px 0px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .card-signup{
    margin-top: 300px;
  }
}

.card-title {
  color: initial;
}

.loader{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

.alert-icon{
  margin-top: -35px !important;
}

.error_outline{
  color: rgba(255, 54, 54, 0.8);
  z-index: 999999;
}

.alert-icon.check{
  color: #999;
  z-index: 999999;
}

.mat-calendar-body-selected{
  background-color: rgb(255, 61, 61);
}

@media screen and (max-width: 580px){
  .alert button.close {
    right: 5px;
  }

  .alert{
    right: 0px !important;
  }
}

@media (min-width: 576px){
  .alert {
    max-width: 400px !important;
  }
}

.none{
  display: none !important;
}

.page-header:after, .page-header:before{
  position: relative !important;
}