@import url("../../admin.scss");

.container{
    padding-top: 20px;
}

b{
    font-weight: bold;
}

.monto{
    font-size: 20px;
    font-weight: 500;
}

.right{
    float: right;
}

.bold{
    font-weight: bold;
}

td, th{
    padding: 5px !important;
}

.table > thead > tr > th, table{
    font-size: 13px;
}

.prestamo{
    margin-top: 20px;
}

.prestamo-titulo{
    margin-top: 40px;
}