<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container">
    <div class="row" style="margin-top: 20px" *ngIf="vistaPantalla">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">border_color</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Ver Apertura de Caja</h4>

            <div class="row col-md-12">
              <div class="col-md-3">
                <label><b>Fecha:</b> {{pettyInicial.createdAt}}</label>
                <label><b>Turno:</b> {{pettyInicial.nombreTurno}}</label>
              </div>
              <div class="col-md-9">
                <button mat-mini-fab class="search-btn" color="primary" (click)="cerrarCaja()"
                  [matTooltipPosition]="position" matTooltip="Cerrar Caja" class="right" 
                  style="margin-left:10px;">
                    <i class="material-icons" style="font-size:18px;">backspace</i>
                </button>
                <button mat-mini-fab class="search-btn" color="primary" (click)="agregarAperturado()"
                  [matTooltipPosition]="position" matTooltip="Registrar Prestamo" class="right">
                    <i class="material-icons" style="font-size:18px;">mode_edit</i>
                </button>
              </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-10 col-md-offset-1">
                <mat-list>
                  <mat-list-item>
                    <table class="table table-list">
                      <thead class="table-head-list">
                        <tr>
                          <th width="33%" class="font-weight center">Monto</th>
                          <th width="33%" class="font-weight center">Cantidad</th>
                          <th width="33%" class="font-weight center">Sub Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pettyDetalle of pettyDetalles">
                          <td class="center">$ {{pettyDetalle.montoBillete}}</td>
                          <td class="center"> {{pettyDetalle.cantidad}}</td>
                          <td class="center">$ {{pettyDetalle.montoBillete * pettyDetalle.cantidad}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>

            <div class="row action-btn col-md-10 col-md-offset-1">
              <div class="col-md-3">
                <label class="monto">Monto: $ {{pettyInicial.montoBillete}}</label>
              </div>
            </div>

            <h4 class="center bold prestamo-titulo" *ngIf="prestamos.length > 0">Préstamos</h4>
            <div class="row" *ngIf="prestamos.length > 0">
              <div class="col-md-6" *ngFor="let prestamo of prestamos; let i = index">
                <h4 class="center prestamo">Préstamo #{{i+1}}</h4>
                <br>
                <label><b>Fecha: </b> {{prestamo.createdAt}}</label><br>
                <label><b>Total :</b> $ {{prestamo.total}}</label><br>
                <label><b>Descripción: </b> {{prestamo.descripcion}}</label><br>
                <br>
                <mat-list>
                  <mat-list-item>
                    <table class="table table-list">
                      <thead class="table-head-list">
                        <tr>
                          <th width="33%" class="font-weight center">Monto</th>
                          <th width="33%" class="font-weight center">Cantidad</th>
                          <th width="33%" class="font-weight center">Sub Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let prestamoDetalle of prestamo.prestamosDetalle">
                          <td class="center">$ {{prestamoDetalle.montoBillete}}</td>
                          <td class="center"> {{prestamoDetalle.cantidad}}</td>
                          <td class="center">$ {{prestamoDetalle.totalBillete}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>

            
          </div>
      </div>
    </div>
</div>
  