<app-navbar-login></app-navbar-login>

<div class="page-header" filter-color="orange" style="background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(37, 34, 34, 0.6))">
    <mat-spinner *ngIf="loading"></mat-spinner>

    <!--<div class="page-header-image" style="background-image:url(../assets/web/img/fondo-login.jpg)"></div>-->
    <div class="page-header-image"></div>
    <div class="content-center">
      <div class="container">
          <div class="col-md-4 content-center">
              <div class="card card-login card-plain">
                
                  <div class="card-header text-center">
                      <!--<div class="logo-container">
                          <img src="../assets/img/now-logo.png" alt="">
                      </div>-->
                      Inicio de Sesión
                  </div>
                  <div class="card-body">
                      <div class="input-group form-group-no-border input-lg">
                          <span class="input-group-addon">
                              <i class="now-ui-icons users_circle-08"></i>
                          </span>
                          <input type="text" class="form-control" placeholder="Usuario" 
                          [(ngModel)]="usuario.usuario" (keyup.enter)="onSubmit()">
                      </div>
                      <div class="input-group form-group-no-border input-lg">
                          <span class="input-group-addon">
                              <i class="now-ui-icons ui-1_lock-circle-open"></i>
                          </span>
                          <input type="password" placeholder="Contraseña" class="form-control" 
                          [(ngModel)]="usuario.clave" (keyup.enter)="onSubmit()"/>
                      </div>
                  </div>
                  <div class="card-footer text-center">
                      <a (click)="onSubmit()" class="btn btn-primary btn-round btn-lg btn-block">Iniciar</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <app-footer-login></app-footer-login>
</div>