.form-control, .input-group-addon{
    color: #FFFFFF !important;
}

.mat-spinner{
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    z-index: 9999;
}

.page-header{
    background: #ef0b0b !important;
}