<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container">
    <div class="row" style="margin-top: 20px" *ngIf="vistaPantalla">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">border_color</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Caja</h4>

          <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-10 col-md-offset-1">
              <mat-list>
                <mat-list-item>
                  <table class="table table-list">
                    <thead class="table-head-list">
                      <tr>
                        <th width="50%" class="font-weight">Monto</th>
                        <th width="50%" class="font-weight">Cantidad</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let billete of billetes; let i = index">
                        <td>$ {{billete.monto}}</td>
                        <td>
                          <mat-input-container color="blue">
                            <input matInput type="number" placeholder="Cantidad" required
                            [(ngModel)]="pettyDetalle[i].cantidad" min="0"
                            (change)="valorCantidad(i, pettyDetalle[i].cantidad)">
                          </mat-input-container>
                        </td>
                      </tr>
                      <tr>
                        <td>Monedas</td>
                        <td>
                          <mat-input-container color="blue">
                            <input matInput type="number" placeholder="Monedas" required
                            [(ngModel)]="montoGeneral" min="0"
                            (change)="valorCantidadGeneral()">
                          </mat-input-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          
          <div class="row action-btn col-md-10 col-md-offset-1">
            <div class="col-md-3">
              <label class="monto">Monto: $ {{montoBillete}}</label>
            </div>
          </div>
          <br>
          <div class="row action-btn col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button mat-raised-button class="btn btn-info" (click)="registrar()">
                  <i class="material-icons">check</i> Abrir Caja
                </button>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button mat-raised-button class="btn btn-default" (click)="regresar()">
                    <i class="material-icons">keyboard_arrow_left</i> Regresar
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
  