<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container">
    <div class="row" style="margin-top: 20px" *ngIf="vistaPantalla">
        <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">border_color</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Modificar Máquina</h4>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Número" required
                    [(ngModel)]="maquina.numero" [formControl]="validator.numero">
                    <mat-error *ngIf="validator.numero.invalid">{{getErrorMessage().numero}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Nombre" required 
                    [(ngModel)]="maquina.nombre" [formControl]="validator.nombre">
                    <mat-error *ngIf="validator.nombre.invalid">{{getErrorMessage().nombre}} </mat-error>
                  </mat-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <mat-input-container color="blue">
                    <input matInput type="text" placeholder="Denominación" required
                    [(ngModel)]="maquina.denominacion" [formControl]="validator.denominacion">
                    <mat-error *ngIf="validator.denominacion.invalid">{{getErrorMessage().denominacion}} </mat-error>
                  </mat-input-container>
                </div>
              </div>

              <div class="row action-btn col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button mat-raised-button class="btn btn-info" type="submit">
                      <i class="material-icons">check</i> Modificar
                    </button>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button mat-raised-button class="btn btn-default" (click)="regresar()">
                        <i class="material-icons">keyboard_arrow_left</i> Regresar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</div>
  